
     <!-- header-->
     <div class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
          <!-- Brand Name-->
          <a href="#" class="navbar-brand D">
            <img
              class="img-fluid rounded-circle"
              src="../../../assets/logo.png"
              alt="brand logo"
              width="100px"
            />
            <span class="display-6 mx-1">GitHub Search</span>
          </a>
          <!-- Bugger Menu Icon --> 
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Navigation Links -->
          <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="#" class="nav-link">GitHub Users</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">GitHub Repositories</a>
              </li>
            </ul>
          </div>
        </div>
    </div>